body{
    /* for the profile */
    margin: 0;
    padding: 0;
    
    /* for the background image */
    background: url(background.jpg);
    background-size: cover; /* background in the middle */
}

.box{
    width: 450px;
    background: #84b2dd;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    /* margin-bottom: 5%; */
    color: #fff;
    font-family: sans-serif;
}

.box img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    transition: 0.5s; /*geçişi yavaşlatmak için*/
    cursor: pointer;
}

.box img:hover{
    transform: scale(0.9); /*geçiş için*/
}

.box h1{
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 4px;
}

.box h4{
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 3px;
}

.box p{
    text-align: justify;
}

ul{
    margin: 0;
    padding: 0;
}

.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.box li a{
    color: white;
    font-size: 60px;
    transition: all ease-in-out 250ms; /*ikonlardaki renk değişimi için*/
}

.box li a:hover{
    color: rgb(48, 109, 163);
}

.box .author li{
    margin-top: 5%;
    font-size: 17px;
    user-select: none;
    -webkit-user-select: none;
}
